<footer class="footer">
  <div class="container">
    <div class="text-center text-light">
      <p>Copyright. <span>&copy 2018</span> All rights reserved | Developed by <%= link_to "howlCode", 'https://github.com/howlCode' %></p>
    </div>      
  </div>    
</footer>