
@import "bootstrap";

body {
  background-color: #312E2E;
}

a:link {
  text-decoration: none !important;
  color: none;
}

.shade {
	opacity: 0.8;
}

.handy {
  text-decoration: none;
}

.handy:hover {
	cursor: pointer;
  text-decoration: none;
}

.splash {
	background: url('horns.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.post-list-item {
  color: #19D3C4;
}